body {
  /* Set line height to 1.5 times the font size
	   and use the OS’s UI font as the website font
	 */
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: max(1em, (100% - 100ch) / 2);
  padding: 5ch;
}

ul, li {
  display: contents;
}

nav {
  display: flex;
  margin-bottom: auto;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: oklch(80% 3% 200);
}

a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

:current {
  border-bottom-width: 0.4em;
  border-bottom-style: thick;
  padding-bottom: 0.1em;
}

html {
  --color-accent: oklch(88.048% 0.10727 149.861 / 0.463) /* a light green color */;
  accent-color: var(--color-accent);
}

a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  padding-bottom: 0.1em;
}